<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="SocketAppender" type="log4net.Appender.SocketAppender,log4net.Appender.SocketAppender">
    <RemoteAddress value="198.216.3.168" />
    <RemotePort value="5002" />
    <AddressFamily value="InterNetwork" />
    <SocketType value="Dgram" />
    <ProtocolType value="Udp" />
    <ConAttemptsCount value="5" />
    <ConAttemptsWaitingTimeMilliSeconds value="3000" />
    <UseThreadPoolQueue value="true" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="{&quot;LogType&quot;:&quot;IoTHub.Log&quot;,&quot;AppName&quot;:&quot;%property{AppName}&quot;,&quot;AppFullName&quot;:&quot;%property{AppFullName}&quot;,&quot;Version&quot;:&quot;%property{Version}&quot;,&quot;host&quot;:&quot;%property{HostIP}&quot;,&quot;LogLevel&quot;:&quot;%level&quot;,&quot;@timestamp&quot;:&quot;%date{ISO8601}&quot;,&quot;Logger&quot;:&quot;%logger&quot;,&quot;message&quot;:&quot;%message&quot;}" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="SocketAppender" />
  </root>
</log4net>