[Unit]
Description=WeWaiter running on Linux

[Service]
WorkingDirectory=/var/wewaiter/
ExecStart==/var/wewaiter/
Restart=always
# Restart service after 10 seconds if the Polls service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=Polls
User=Polls
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS='http://localhost:5050'
[Install]
WantedBy=multi-user.target