$primary-color: #ED5933;
$primary-blue: #00A1FF;
$primary-orange:#F89C13;
$primary-green: #13CE66;
$primary-red: #CF0C0C;
$primary-grey: #3C3C3C;
$primary-black: #000000;
$primary-white: #FFFFFF;
$primary-bright-gray: #4A4A4A;
